<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="guepardoapps.lucahome"
    android:versionCode="199170111"
    android:versionName="1.9.9.170111" >

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="25" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission-sdk-23 android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name="guepardoapps.lucahome.view.BootView"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="guepardoapps.lucahome.view.BirthdayView" >
        </activity>
        <activity android:name="guepardoapps.lucahome.view.ForecastWeatherView" >
        </activity>
        <activity android:name="guepardoapps.lucahome.view.GameView" >
        </activity>
        <activity android:name="guepardoapps.lucahome.view.HomeView" >
        </activity>
        <activity android:name="guepardoapps.lucahome.view.InformationView" >
        </activity>
        <activity android:name="guepardoapps.lucahome.view.MapView" >
        </activity>
        <activity android:name="guepardoapps.lucahome.view.MovieView" >
        </activity>
        <activity android:name="guepardoapps.lucahome.view.ScheduleView" >
        </activity>
        <activity android:name="guepardoapps.lucahome.view.SettingsView" >
        </activity>
        <activity android:name="guepardoapps.lucahome.view.MediaMirrorView" >
        </activity>
        <activity android:name="guepardoapps.lucahome.view.SensorAirPressureView" >
        </activity>
        <activity android:name="guepardoapps.lucahome.view.SensorHumidityView" >
        </activity>
        <activity android:name="guepardoapps.lucahome.view.SensorTemperatureView" >
        </activity>
        <activity android:name="guepardoapps.lucahome.view.SocketView" >
        </activity>
        <activity android:name="guepardoapps.lucahome.view.SoundView" >
        </activity>
        <activity android:name="guepardoapps.lucahome.view.TimerView" >
        </activity>

        <receiver
            android:name="guepardoapps.lucahome.receiver.WIFIReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.net.wifi.supplicant.CONNECTION_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGE" />
                <action android:name="android.net.wifi.STATE_CHANGE" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="guepardoapps.lucahome.receiver.sockets.SocketActionReceiver"
            android:exported="false" >
        </receiver>
        <receiver
            android:name="guepardoapps.lucahome.receiver.sound.StopSoundReceiver"
            android:exported="false" >
        </receiver>

        <service
            android:name="guepardoapps.lucahome.services.ControlMainServiceState"
            android:enabled="true" />
        <service
            android:name="guepardoapps.lucahome.services.MainService"
            android:enabled="true" />
        <service
            android:name="guepardoapps.lucahome.services.NotificationService"
            android:enabled="true" />
        <service
            android:name="guepardoapps.lucahome.services.OpenWeatherService"
            android:enabled="true" />
        <service
            android:name="guepardoapps.lucahome.services.RESTService"
            android:enabled="true" />
        <service
            android:name="guepardoapps.lucahome.services.sockets.SocketActionService"
            android:enabled="true" />
        <service android:name="guepardoapps.lucahome.wearcontrol.services.PhoneMessageListenerService" >
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>
        <service
            android:name="guepardoapps.lucahome.wearcontrol.services.WearMessageService"
            android:enabled="true" />

        <meta-data
            android:name="com.google.android.wearable.beta.app"
            android:resource="@xml/wearable_app_desc" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>