<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="guepardoapps.lucahome">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="guepardoapps.lucahome.views.BootView"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="guepardoapps.lucahome.views.BirthdayView" />
        <activity android:name="guepardoapps.lucahome.views.ChangeView" />
        <activity android:name="guepardoapps.lucahome.views.ForecastWeatherView" />
        <activity android:name="guepardoapps.lucahome.views.GameView" />
        <activity android:name="guepardoapps.lucahome.views.HomeView" />
        <activity android:name="guepardoapps.lucahome.views.InformationView" />
        <activity android:name="guepardoapps.lucahome.views.MenuView" />
        <activity android:name="guepardoapps.lucahome.views.MovieView" />
        <activity android:name="guepardoapps.lucahome.views.ScheduleView" />
        <activity android:name="guepardoapps.lucahome.views.SettingsView" />
        <activity android:name="guepardoapps.lucahome.views.MediaMirrorView" />
        <activity android:name="guepardoapps.lucahome.views.SecurityView" />
        <activity android:name="guepardoapps.lucahome.views.SensorAirPressureView" />
        <activity android:name="guepardoapps.lucahome.views.SensorHumidityView" />
        <activity android:name="guepardoapps.lucahome.views.SensorTemperatureView" />
        <activity android:name="guepardoapps.lucahome.views.ShoppingListView" />
        <activity android:name="guepardoapps.lucahome.views.SocketView" />
        <activity android:name="guepardoapps.lucahome.views.TimerView" />

        <receiver
            android:name="guepardoapps.lucahome.receiver.BootReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="guepardoapps.lucahome.receiver.WIFIReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.net.wifi.supplicant.CONNECTION_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="guepardoapps.library.lucahome.receiver.notifications.CameraReceiver"
            android:enabled="true"
            android:exported="false" />
        <receiver
            android:name="guepardoapps.library.lucahome.receiver.notifications.HeatingReceiver"
            android:enabled="true"
            android:exported="false" />
        <receiver
            android:name="guepardoapps.library.lucahome.receiver.notifications.SocketActionReceiver"
            android:enabled="true"
            android:exported="false" />
        <receiver
            android:name="guepardoapps.library.lucahome.receiver.notifications.StopSoundReceiver"
            android:enabled="true"
            android:exported="false" />
        <receiver android:name="org.altbeacon.beacon.startup.StartupBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>

        <service
            android:name="org.altbeacon.beacon.service.BeaconService"
            android:enabled="true"
            android:exported="false"
            android:isolatedProcess="false"
            android:label="beacon" />
        <service
            android:name="org.altbeacon.beacon.BeaconIntentProcessor"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name="guepardoapps.library.toolset.beacon.BeaconService"
            android:enabled="true" />
        <service
            android:name="guepardoapps.library.lucahome.services.RESTService"
            android:enabled="true" />
        <service
            android:name="guepardoapps.library.lucahome.services.sockets.SocketActionService"
            android:enabled="true" />
        <service android:name="guepardoapps.library.lucahome.services.wearcontrol.PhoneMessageListenerService">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
            </intent-filter>
        </service>
        <service
            android:name="guepardoapps.library.lucahome.services.wearcontrol.WearMessageService"
            android:enabled="true" />
        <service
            android:name="guepardoapps.lucahome.services.ControlServiceStateService"
            android:enabled="true" />
        <service
            android:name="guepardoapps.lucahome.services.MainService"
            android:enabled="true" />
        <service
            android:name="guepardoapps.lucahome.services.OpenWeatherService"
            android:enabled="true" />
        <service
            android:name="guepardoapps.lucahome.services.ReceiverService"
            android:enabled="true" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
