<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="guepardoapps.lucahome">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".views.BirthdayActivity"
            android:label="@string/title_activity_birthday"
            android:parentActivityName=".views.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="guepardoapps.lucahome.views.MainActivity" />
        </activity>
        <activity
            android:name=".views.BirthdayEditActivity"
            android:label="@string/title_activity_birthday_edit"
            android:parentActivityName=".views.BirthdayActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="guepardoapps.lucahome.views.BirthdayActivity" />
        </activity>
        <activity android:name=".views.BootActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.CoinActivity"
            android:label="@string/title_activity_coin"
            android:parentActivityName=".views.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="guepardoapps.lucahome.views.MainActivity" />
        </activity>
        <activity
            android:name=".views.CoinEditActivity"
            android:label="@string/title_activity_coin_edit"
            android:parentActivityName=".views.CoinActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="guepardoapps.lucahome.views.CoinActivity" />
        </activity>
        <activity
            android:name=".views.ForecastWeatherActivity"
            android:label="@string/title_activity_forecast_weather"
            android:parentActivityName=".views.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="guepardoapps.lucahome.views.MainActivity" />
        </activity>
        <activity android:name=".views.LoginActivity" />
        <activity android:name=".views.MainActivity" />
        <activity
            android:name=".views.MediaServerActivity"
            android:label="@string/title_activity_mediaserver"
            android:parentActivityName=".views.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="guepardoapps.lucahome.views.MainActivity" />
        </activity>
        <activity
            android:name=".views.MenuActivity"
            android:label="@string/title_activity_menu"
            android:parentActivityName=".views.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="guepardoapps.lucahome.views.MainActivity" />
        </activity>
        <activity
            android:name=".views.MenuEditActivity"
            android:label="@string/title_activity_menu_edit"
            android:parentActivityName=".views.MenuActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="guepardoapps.lucahome.views.MenuActivity" />
        </activity>
        <activity
            android:name=".views.MeterDataActivity"
            android:label="@string/title_activity_meter_data"
            android:parentActivityName=".views.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="guepardoapps.lucahome.views.MainActivity" />
        </activity>
        <activity
            android:name=".views.MeterDataEditActivity"
            android:label="@string/title_activity_meter_data_edit"
            android:parentActivityName=".views.MeterDataActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="guepardoapps.lucahome.views.MeterDataActivity" />
        </activity>
        <activity
            android:name=".views.MoneyMeterDataActivity"
            android:label="@string/title_activity_money_meter_data"
            android:parentActivityName=".views.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="guepardoapps.lucahome.views.MainActivity" />
        </activity>
        <activity
            android:name=".views.MoneyMeterDataEditActivity"
            android:label="@string/title_activity_money_meter_data_edit"
            android:parentActivityName=".views.MoneyMeterDataActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="guepardoapps.lucahome.views.MoneyMeterDataActivity" />
        </activity>
        <activity
            android:name=".views.MovieActivity"
            android:label="@string/title_activity_movie"
            android:parentActivityName=".views.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="guepardoapps.lucahome.views.MainActivity" />
        </activity>
        <activity
            android:name=".views.MovieEditActivity"
            android:label="@string/title_activity_movie_edit"
            android:parentActivityName=".views.MovieActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="guepardoapps.lucahome.views.MovieActivity" />
        </activity>
        <activity
            android:name=".views.ScheduleActivity"
            android:label="@string/title_activity_schedule"
            android:parentActivityName=".views.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="guepardoapps.lucahome.views.MainActivity" />
        </activity>
        <activity
            android:name=".views.ScheduleEditActivity"
            android:label="@string/title_activity_schedule_edit"
            android:parentActivityName=".views.ScheduleActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="guepardoapps.lucahome.views.ScheduleActivity" />
        </activity>
        <activity
            android:name=".views.SecurityActivity"
            android:label="@string/title_activity_security"
            android:parentActivityName=".views.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="guepardoapps.lucahome.views.MainActivity" />
        </activity>
        <activity
            android:name=".views.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".views.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="guepardoapps.lucahome.views.MainActivity" />
        </activity>
        <activity
            android:name=".views.ShoppingListActivity"
            android:label="@string/title_activity_shopping_list"
            android:parentActivityName=".views.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="guepardoapps.lucahome.views.MainActivity" />
        </activity>
        <activity
            android:name=".views.ShoppingListEditActivity"
            android:label="@string/title_activity_shopping_list_edit"
            android:parentActivityName=".views.ShoppingListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="guepardoapps.lucahome.views.ShoppingListActivity" />
        </activity>
        <activity
            android:name=".views.TimerActivity"
            android:label="@string/title_activity_timer"
            android:parentActivityName=".views.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="guepardoapps.lucahome.views.MainActivity" />
        </activity>
        <activity
            android:name=".views.TimerEditActivity"
            android:label="@string/title_activity_timer_edit"
            android:parentActivityName=".views.TimerActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="guepardoapps.lucahome.views.TimerActivity" />
        </activity>
        <activity
            android:name=".views.WirelessSocketActivity"
            android:label="@string/title_activity_wireless_socket"
            android:parentActivityName=".views.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="guepardoapps.lucahome.views.MainActivity" />
        </activity>
        <activity
            android:name=".views.WirelessSocketEditActivity"
            android:label="@string/title_activity_wireless_socket_edit"
            android:parentActivityName=".views.WirelessSocketActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="guepardoapps.lucahome.views.WirelessSocketActivity" />
        </activity>
        <activity
            android:name=".views.WirelessSwitchActivity"
            android:label="@string/title_activity_wireless_switch"
            android:parentActivityName=".views.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="guepardoapps.lucahome.views.MainActivity" />
        </activity>
        <activity
            android:name=".views.WirelessSwitchEditActivity"
            android:label="@string/title_activity_wireless_switch_edit"
            android:parentActivityName=".views.WirelessSocketActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="guepardoapps.lucahome.views.WirelessSocketActivity" />
        </activity>

        <receiver
            android:name="guepardoapps.lucahome.receiver.BootReceiver"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="guepardoapps.lucahome.receiver.SocketActionReceiver"
            android:enabled="true"
            android:exported="false" />
        <receiver
            android:name="guepardoapps.lucahome.receiver.SwitchActionReceiver"
            android:enabled="true"
            android:exported="false" />
        <receiver
            android:name="guepardoapps.lucahome.receiver.WIFIReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.net.wifi.supplicant.CONNECTION_CHANGE" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.MainService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>