<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="guepardoapps.lucahome.accesscontrol">

    <application
        android:allowBackup="true"
        android:configChanges="orientation|keyboardHidden"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        <activity android:name="guepardoapps.lucahome.accesscontrol.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		
        <service
            android:name="guepardoapps.lucahome.accesscontrol.services.ControlServiceStateService"
            android:enabled="true" />
        <service
            android:name="guepardoapps.lucahome.accesscontrol.services.MainService"
            android:enabled="true" />
    </application>
</manifest>
